.driver-to-onboard {
  height: 48px;
  width: 74px;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  display: flex;
  justify-content: center;
  margin: 32px 8px 0 0;

  &_yes-no {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #758892;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__would-like-to-onboard {
    width: 100%;
  }
}

.active-yes-no {
  background: linear-gradient(102.61deg, #2dcbd4 0%, #2f80ed 100%);
  color: #ffffff;
  border: none;
  border-radius: 8px;
}
