@import "./reset.scss";

:root {
  --active-color: #2f80ed;
  --white-color: #ffffff;
  --backgound-white-color: #f7f9fa;
  --light-white-color: #e4f8f9;
  --black-color: #000;
  --gray-color: #2c3e50;
  --light-gray-color: #9dacb4;
  --medium-gray-color: #758892;
  --aqua-color: #2dcbd4;
}
